$font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

html,
body {
  margin: 0;
  padding: 0;
}
* {
  margin-top: 0;
}
body.light {
  --primary-color: #1E7A99;
  --primary-text-color: #fff;
  --featured-bg: #33ccff;
  --featured-text: #fff;
  --secondary-color: #1E7A99;
  --background: #fff;
  --site-header: var(--background);
  --card-bg: #fff;
  --card-bdr: #eee;
  --card-shadow: #d5d5d5;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: #f7f8fe;
  --contact-bdr: #d3d6e7;
  --input-bg: var(--background);
  --color-social-button: invert(36%) sepia(74%) saturate(484%) hue-rotate(149deg) brightness(97%) contrast(91%);
}
body.dark {
  --primary-color: #33ccff;
  --primary-text-color: #fff;
  --featured-bg: #1E7A99;
  --featured-text: #fff;
  --secondary-color: #33ccff;
  --background: #0A041A;
  --text-color: rgba(255,255,255,0.88);
  --text-secondary-color: rgba(255,255,255,0.66);
  --site-header: var(--background);
  --card-bg: #003366;
  --card-bdr: #003366;
  --card-shadow: #020204;
  --btn-bg: var(--background);
  --btn-bdr: #d3d6e7;
  --btn-text-color: #868892;
  --btn-hover-bg: var(--btn-bdr);
  --btn-hover-text-color: #00062b;
  --contact-bg: var(--card-shadow);
  --contact-bdr: var(--card-bg);
  --input-bg: var(--card-bg);
  --color-social-button: invert(67%) sepia(38%) saturate(1300%) hue-rotate(163deg) brightness(101%) contrast(103%);
}
/* System Fonts as used by Medium and WordPress */
body {
  font-family: $font-family;
  border-top: 10px solid var(--primary-color);
  background-color: var(--background);
  color: var(--text-color);
}
a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.site-wrapper {
  padding: 32px;
  max-width: 1140px;
  margin: 0 auto;
  img {
    max-width: 100%;
  }
}
.navigation {
  display: flex;
  align-items: center;
  font-weight: 300;
  a {
    color: #888;
    text-decoration: none;
    margin: 0 8px 0;
    &[aria-current] {
      color: var(--primary-color);
      font-weight: 700;
    }
    &:hover {
      color: var(--primary-color);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.site-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  background: var(--site-header);
  margin-bottom: 32px;
  align-items: center;
}
.site-title a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 900;
  text-transform: uppercase;
}
.hero-header {
  padding: 0 0 64px;
  max-width: 980px;
}
.headline {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.button {
  padding: 18px 27px;
  display: inline-block;
  background: var(--btn-bg);
  border: 1px solid var(--btn-bdr);
  border-radius: 9px;
  text-decoration: none;
  color: var(--btn-text-color);
  font-size: 16px;
  font-weight: 400;
  margin: 0 20px 0 0;
  transition: background-color .3s linear;
  &.-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--primary-text-color);
    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-text-color);
      text-decoration: none;
    }
  }
  &:hover {
    background-color: var(--btn-hover-bg);
    color: var(--btn-hover-text-color);
  }
}

.social-button {
  height: 40px;
  width: 40px;
  display: block;
  filter: var(--color-social-button);
  overflow: visible;
  &.-primary {filter: var(--color-social-button);
  }
}
.primary-content {
  font-size: 18px;
  margin-bottom: 32px;
  line-height: 1.5;
  font-weight: 300;
}
.post {
  padding: 0;
  background:var(--background);
  color: var(--text-color);
  line-height: 1.5;
  > .blog-post-content {
    max-width: 768px;
    margin: 0 auto;
  }
  > .blog-post-content *:last-child,
  > *:last-child {
    margin-bottom: 0;
  }
  .post-title {
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.3;
    font-size: 2rem;
  }
  .post-meta {
    margin-bottom: 32px;
    text-align: center;
  }
  
}
.post-thumbnail {
  text-align: center;
  min-height: 380px;
  //background-image: url('/assets/circles-light.png');
  background-color: var(--featured-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 18px;
  margin-bottom: 36px;
  color: var(--featured-text);
  display: grid;
  align-content: center;
  position: relative;
  padding: 18px;
  overflow: hidden;
  &:before {
    content: "";
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .post-meta {
    color: rgba(255,255,255,0.8);
    margin-bottom: 0;
  }
}
.grids {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 32px;
  margin-top: 32px;
}
.card {
  display: grid;
  background-color: var(--card-bg);
  border-radius: 9px;
  border: 1px solid var(--card-bdr);
  box-shadow: 0 0 30px var(--card-shadow);
  overflow: hidden;
  line-height: 1.5;
  &:hover .post-link {
    color: var(--primary-color);
  }
  > a img {
    display: block;
  }
  > header {
    padding: 24px;
  }
  > h2:first-child {
    margin: 0 0 0.5rem 0;
  }
  .post-title {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
  }
  .post-meta {
    font-weight: 100;
    margin-bottom: 0;
  }
  .post-link {
    color: var(--text-color);
    text-decoration: none;
  }
}
.post-meta {
  font-size: 0.8rem;
  color: var(--text-secondary-color);
}
.site-footer {
  text-align: center;
  margin: 90px 0 16px;
  color: #666;
  a {
    font-weight: 700;
  }
}
.form-container {
  background-color: var(--contact-bg);
  padding: 32px;
  border: 1px solid var(--contact-bdr);
  border-radius: 9px;
  label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--text-secondary-color);
  }
  input[type=text],
  input[type=email],
  textarea {
    appearance: none;
    border: 1px solid var(--card-shadow);
    color: var(--text-secondary-color);
    border-radius: 6px;
    line-height: 32px;
    padding: 6px 12px;
    width: calc(100% - 24px);
    margin-bottom: 1.5rem;
    background-color: var(--input-bg);
    font-family: $font-family;
  }
  textarea {
    margin-bottom: 2rem;
    height: 150px;
  }
}
.two-grids {
  display: grid;
  grid-gap: 32px;
  &.-contact {
    .post-thumbnail {
      min-height: 240px !important;
    }
  }
}
/* Portrait and Landscape */
@media only screen 
and (min-width: 768px) {
.grids {
  grid-template-columns: 1fr 1fr;
}
}
@media only screen 
  and (min-width: 1024px) {
  .grids {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .two-grids {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 64px;
  }
}


// theme-changer
.theme-changer {
  display: none;
}
body.dark {
  .gg-moon {
    display: none;
  }
}
body.light {
  .gg-sun {
    display: none;
  }
}
.mode-container {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
// CSS.gg icons for sun and moon
.gg-sun {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 24px;
  height: 24px;
  background:
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px -6px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 5px 14px/2px 6px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat -8px 5px/6px 2px,
    linear-gradient(to bottom,
        currentColor 4px,transparent 0)
        no-repeat 14px 5px/6px 2px;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px;
  border: 6px solid transparent
}
.gg-sun::after,
.gg-sun::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  border-right: 4px solid;
  border-left: 4px solid;
  left: -6px;
  top: 5px
}
.gg-sun::before {
  transform: rotate(-45deg)
}
.gg-sun::after {
  transform: rotate(45deg)
}
.gg-moon,
.gg-moon::after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs,1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom-color: transparent
}
.gg-moon::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px
}

// Added my me

*, *:before, *:after{
  box-sizing: inherit;
}

.ir{
  display: block;
  overflow: visible;
  padding: 0 0 100%;
  position: relative;
  height: 0;
  width: 100%;
  fill: var(--primary-color);
  background-color: var(--background);
}

.ir > *{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.soc {
  display: block;
  list-style: none;
  margin: 0 auto;
  padding: 28.8px;
  text-align: center;
  max-width: 100%;

  li{
    display: inline-block;
    margin: 3.2px;
  }

  a, svg {
    display: block;
  }

  a {
    height: 41px;
    width: 41px;
  }
}










body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'ESL Legend';
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.eot#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff2) format("woff2"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Light.svg#eicon) format("svg");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'ESL Legend';
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.eot#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff2) format("woff2"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Regular.svg#eicon) format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'ESL Legend';
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot);
  src: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.eot#iefix) format("embedded-opentype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff2) format("woff2"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.woff) format("woff"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.ttf) format("truetype"),
  url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/fonts/legend/ESLLegend-Bold.svg#eicon) format("svg");
  font-style: normal;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.ag-format-container {
  width: 1160px;
  margin: 0 auto;

  position: relative;
}

.ag-timeline-block {
  padding: 300px 0;
}
.ag-timeline_title-box {
  padding: 0 0 30px;

  text-align: center;
}
.ag-timeline_tagline {
  font-size: 40px;
  color: rgb(84, 89, 95);
}
.ag-timeline_title {
  background-image: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timeline/images/bg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;

  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  text-fill-color: transparent;
  color: transparent;

  font-size: 80px;
}

.ag-timeline_item {
  margin: 0 0 50px;

  position: relative;
}
.ag-timeline_item:nth-child(2n) {
  text-align: right;
}

.ag-timeline {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;

  position: relative;
}
.ag-timeline_line {
  width: 2px;
  background-color: #393935;

  position: absolute;
  top: 2px;
  left: 50%;
  bottom: 0;

  overflow: hidden;

  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.ag-timeline_line-progress {
  width: 100%;
  height: 20%;
  background-color: #FF0;
}

.ag-timeline-card_box {
  padding: 0 0 20px 50%;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
  padding: 0 50% 20px 0;
}
.ag-timeline-card_point-box {
  display: inline-block;
  margin: 0 14px 0 -28px;
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
  margin: 0 -28px 0 14px;
}
.ag-timeline-card_point {
  height: 50px;
  line-height: 50px;
  width: 50px;
  border: 3px solid #FF0;
  background-color: #1d1d1b;

  text-align: center;
  font-family: 'ESL Legend', sans-serif;
  font-size: 20px;
  color: #FFF;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.js-ag-active .ag-timeline-card_point {
  color: #1d1d1b;
  background-color: #FF0;
}
.ag-timeline-card_meta-box {
  display: inline-block;
}
.ag-timeline-card_meta {
  margin: 10px 0 0;

  font-family: 'ESL Legend', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #FF0;
}
.ag-timeline-card_item {
  display: inline-block;
  width: 45%;
  margin: -77px 0 0;
  background-color: #282828;

  opacity: 0;

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  -moz-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  -o-box-shadow: 0 0 0 0 rgba(0,0,0,.5);
  box-shadow: 0 0 0 0 rgba(0,0,0,.5);

  -webkit-transition: -webkit-transform .5s, opacity .5s;
  -moz-transition: -moz-transform .5s, opacity .5s;
  -o-transition: -o-transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s;

  position: relative;
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item {
  -webkit-transform: translateX(-200%);
  -moz-transform: translateX(-200%);
  -ms-transform: translateX(-200%);
  -o-transform: translateX(-200%);
  transform: translateX(-200%);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.js-ag-active.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
.js-ag-active.ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
  opacity: 1;

  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.ag-timeline-card_arrow {
  height: 18px;
  width: 18px;
  margin-top: 20px;
  background-color: #282828;

  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
  margin-left: calc(-18px / 2);
  margin-right: calc(-18px / 2);
}
.ag-timeline_item:nth-child(2n) .ag-timeline-card_arrow {
  margin-left: -10px;

  right: auto;
  left: 0;
}
.ag-timeline-card_img {
  width: 100%;
}
.ag-timeline-card_info {
  padding: 20px 30px;
}
.ag-timeline-card_title {
  display: none;
  margin: 10px 0 0;

  font-family: 'ESL Legend', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #FF0;
}
.ag-timeline-card_desc {
  line-height: 1.45;

  font-size: 16px;
  color: #FFF;
}


@media only screen and (max-width: 979px) {
  .ag-timeline_line {
    left: 30px;
  }

  .ag-timeline_item:nth-child(2n) {
    text-align: left;
  }

  .ag-timeline-card_box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_box {
    padding: 0 0 20px;
  }
  .ag-timeline-card_meta-box {
    display: none;
  }
  .ag-timeline-card_point-box,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_point-box {
    margin: 0 0 0 8px;
  }
  .ag-timeline-card_point {
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
  .ag-timeline-card_item {
    width: auto;
    margin: -65px 0 0 75px
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_item,
  .ag-timeline_item:nth-child(2n) .ag-timeline-card_item {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%);
  }
  .ag-timeline_item:nth-child(2n+1) .ag-timeline-card_arrow {
    right: auto;
    left: 0;
  }
  .ag-timeline-card_title {
    display: block;
  }
  .ag-timeline-card_arrow {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

  .ag-timeline-card_img {
    height: auto;
    width: auto;
  }
}

@media only screen and (max-width: 639px) {
  .ag-timeline_title {
    font-size: 60px;
  }

  .ag-timeline-card_info {
    padding: 10px 15px;
  }
  .ag-timeline-card_desc {
    font-size: 14px;
  }
}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}
